.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 2px solid #ccc;
    height: 100%;
}
.header {
 padding: 10px 20px;
 font-size: 20px;
 font-weight: 700;
 color: aqua;
 background-color: black;
}
.list-manage {
   ul {
    padding-left: 0;
    li {
        list-style-type: none;
        padding: 10px 20px ;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        &:active {
            background-color: #666;
            color: #fff;
          }
    }
}
}
.active {
    background-color: #666;
    color: #fff;
    transition: all 0.2s;
}